body {
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;

    .vitalInfos {
      display: flex;
      flex-direction: row;

      .info {
        padding: 0px 10px;
      }
    }
  }

  .body {
    .items {
      padding-bottom: 20px;
      .degreeName{
        font-size: large;
      }
      .field {
        min-width: 250px;
        font-weight: bold;
      }
    }
  }
}