body .header {
  display: flex;
  align-items: center;
  flex-direction: column; }
  body .header .vitalInfos {
    display: flex;
    flex-direction: row; }
    body .header .vitalInfos .info {
      padding: 0px 10px; }

body .body .items {
  padding-bottom: 20px; }
  body .body .items .degreeName {
    font-size: large; }
  body .body .items .field {
    min-width: 250px;
    font-weight: bold; }
